<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.87.0">
    <title>Sistemas de Turnos Web</title>
    <script src="js/turnos.js"></script>
    
    <!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script><script src="dashboard.js"></script>
  

  </head>
  <body>
    
<header class="navbar navbar-dark sticky-top bg-secondary flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Sistema de Turnos</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <a type="button" class="px-3 btn btn-danger" href="logout">Salir</a>
    </div>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-secondary sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li>
            <a href="/" class="nav-link text-white">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
              Inicio
            </a>
          </li>
          <li>
            <a href="/turnos" class="nav-link text-white">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
              Mis turnos
            </a>
          </li>
          <li>
            <a href="logout" class="nav-link text-white">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
              Salir
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Contenido principal   -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>Mis turnos</h2>
      </div>
      
      <!-- Contenido principal detalle de turnos  -->
      <div class="container mt-5">
        <div class="row">
          <div class="col-md-5">
            <div class="card-body">
              <form action="/turnos_create" method="POST">
                <label for="especialidad">Especialidad</label>                          
                <select id="especialidad" name="idespecialidad" class="form-select" tabindex="1">
                    <option value="0" selected>Seleccione...</option>
                    <option value="1">Medico Clinico</option>
                    <option value="2">Cardiologia</option> 
                    <option value="3">Oftamologia</option>                    
                </select>
                <br>
                <label for="medico">Medico</label>   
                <select id="medico" name="idmedico" class="form-select" tabindex="2">
                  <option value="0" selected>Seleccione...</option>
                  <option value="1">Facundo Perez </option>
                  <option value="2">Lorenzo Martinez</option> 
                  <option value="3">Mariela Ramirez</option> 
                  <option value="4">Gabriel	Lopez</option> 
                  <option value="5">Daniala	Roldan</option> 
                  <option value="6">Juan	Gutierrez</option>                    
                </select>
                <br>
                <div class="mb-3">
                  <label for="fecha" class="form-label">Fecha</label>
                  <input id="fecha" name="fecha" type="date" class="form-control" tabindex="3" value=curday('-')>           
                </div>
                <br>
                <label for="horario">Horario</label>   
                <select id="horario" name="idhorario" class="form-select" tabindex="4">
                  <option value="0" selected>Seleccione...</option>
                  <option value="1">09:00 a 10:00 hs</option>
                  <option value="2">10:00 a 11:00 hs</option> 
                  <option value="3">11:00 a 12:00 hs</option>  
                  <option value="4">14:00 a 15:00 hs</option>  
                  <option value="5">15:00 a 16:00 hs</option>  
                  <option value="6">16:00 a 17:00 hs</option>  
                  <option value="7">17:00 a 18:00 hs</option>                    
                </select>
                <br>
                <label for="id">Usuario</label>                          
                <select id="id" name="id" class="form-select" tabindex="5">
                    <option value="0" selected>Seleccione...</option>
                    <option value="1">Gabriel Laucello</option>
                    <option value="4">Pedro Picapiedra</option> 
                    <option value="6">Pablo Rocadura</option> 
                    <option value="7">Juan Garcia</option>                    
                </select>
                <br>
                <button type="submit" class="btn btn-secondary">Guardar</button>
                <a href="/turnos" class="btn btn-danger">Cancelar</a>
              </form>
            </div>
          </div>
        </div>
      </div> 
    </main>
  </div>
</div>
</body>
</html>